<% @jerseys.each do |jersey| %>
<div class="card">
  <header class="card-header">
    <p class="card-header-title is-centered">
        <%= jersey.title %>
    </p>
  </header>
  <div class="card-content">
    <div class="content has-text-centered">
     <%= jersey.player %> </br>
     <%= jersey.player_number %></br>
     <%= jersey.sport %>
    </div>
  </div>
  <footer class="card-footer">
  <a href="/jerseys/<%=jersey.id%>" class="card-footer-item">View</a>
  <a href="/jerseys/<%=jersey.id%>/edit" class="card-footer-item">Edit</a>
  </footer>
</div>
<% end %>