<% @jerseys.each_slice(3) do |jersey_slice| %>
<div class="columns">
<% jersey_slice.each do |jersey|%>
<div class="column">
<div class="card">
<div class="card-image">
    <figure class="image is-4by3">
      <img src="images/jersey.png" alt="Placeholder image">
    </figure>
  </div>
  <header class="card-header">
    <p class="card-header-title is-centered">
        <%= jersey.title %>
    </p>
  </header>
  <div class="card-content">
    <div class="content has-text-centered">
     <%= jersey.player %> </br>
     <%= jersey.player_number %></br>
     <%= jersey.team %></br>
     <%= jersey.sport %>
    </div>
  </div>
  <footer class="card-footer">
  <a href="/jerseys/<%=jersey.id%>" class="card-footer-item">View</a>
  <a href="/jerseys/<%=jersey.id%>/edit" class="card-footer-item">Edit</a>
  </footer>
</div>
</div>
<% end %>
</div>
<% end %>
