 <div class="box">
 <div class="media-content">
      <div class="content has-text-centered">
        <p>
          <strong><%= @jersey.title %></strong>
          <br>
          Player Name: <%= @jersey.player %> <br>
          Player Number: <%= @jersey.player_number %> <br>
          Team: <%= jersey.team %></br>
          Sport: <%= @jersey.sport %> <br>
          Owner: <%= @jersey.user.email %>
        </p>
      </div>
  </div>
