 <div class="box">
 <div class="media-content">
      <div class="content has-text-centered">
        <p>
          <strong><%= @jersey.title %></strong>
          <br>
          <% if  @jersey.player != nil %>
          Player Name: <%= @jersey.player %> <br>
          <% end %>
          <% if  @jersey.player_number != nil %>
          Player Number: <%= @jersey.player_number %> <br>
          <% end %>
           <% if  @jersey.team != nil %>
          Team: <%= @jersey.team %></br>
            <% end %>
           <% if  @jersey.sport != nil %>
          Sport: <%= @jersey.sport %> <br>
            <% end %>
          Owner: <%= @jersey.user.email %>
        </p>
      </div>
  </div>
